body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #333
}

header {
   Background-Color: linear-gradient(135deg, #1e90ff, #4facfe);
   Color: White;
   padding: 3rem 2rem;
   text-align: center;
}

section {
    max-width: 800px
    margin: 2rem auto;
    padding: 0 1.5rem;
}

h1 {
 margin-top: 2rem;
 color: #1e90ff;
}

h2 {
  margin-top: 2rem;
  color: #1e90ff;
}

ul {
  padding-left: 1.2rem;
}

li { 
  margin-bottom: 0.5rem;
}

footer {
  background: #eef2f7;
  text-align: center;
  padding: 1.5rem;
  margin-top: 3rem;
}

a {
  color: #1e90ff;
  text-decoration: none;
  front-weight: bold;
}
  
